{% extends 'core/base.html' %}
{% block title %}Home{% endblock title%}
{% block main_content  %}
<section class="container">
    <div class="row justify-content-around mt-3 text-center text-white">
        <div class="col-sm-8 ">
            <h3>CRUD  Operations</h3>
    </div>

    <div class="row justify-content-around ">
        <div class="col-sm-8 ">
         <a href="{% url 'add-student' %}" class="btn btn-primary float-end">Add</a>  
    </div>  
    </div>


    <div class="row justify-content-around mt-1 text-white">
        <div class="col-sm-8 ">
            <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Roll</th>
                        <th scope="col">City</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stud in studata %} 
                        <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{stud.name}}</td>
                        <td>{{stud.roll}}</td>
                        <td>{{stud.city |safe }}</td>
                        <td class="aline-inline">
                            <table>
                                <tr>
                                    <td>
                                        <form action="{% url 'delete-student' %}" method ="POST">
                                            {% csrf_token %}
                                            <input type= "hidden" name = "id" value={{stud.id}} >
                                            <input type="submit" value="Delete" class= "btn btn-danger"/>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{% url 'edit-student' stud.id %}" method ="POST">
                                            {% csrf_token %}
                                            <input type= "hidden" name = "id" value={{stud.id}} >
                                            <input type="submit" value="Edit" class= "btn btn-info"/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                           
                        </tr>
                        {% endfor%}
                    </tbody>
              </table>
    </div>
</section>
{% endblock main_content %}